<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
  </appSettings>

  <connectionStrings />

  <system.web>
    <httpModules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation debug="true" defaultLanguage="C#">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/login" defaultUrl="~/"/>
    </authentication>

    <pages>
      <namespaces>
        <add namespace="biblioteca.web.html"/>
        <add namespace="biblioteca.web.controllers" />
        <add namespace="biblioteca.web" />
        <add namespace="biblioteca.web.views" />

        <add namespace="FubuMVC.Core.View" />
        <add namespace="FubuMVC.Core.Html" />
        <add namespace="FubuMVC.Core.Html.Expressions" />
      </namespaces>
    </pages>

  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" preCondition="managedHandler" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="SSINC-shtml" />
      <remove name="SSINC-stm" />
      <remove name="SSINC-shtm" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0" />
      <remove name="SimpleHandlerFactory-Integrated" />
      <remove name="SecurityCertificate" />
      <remove name="PageHandlerFactory-ISAPI-2.0-64" />
      <remove name="PageHandlerFactory-ISAPI-2.0" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
      <remove name="HttpRemotingHandlerFactory-soap-Integrated" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
      <remove name="HttpRemotingHandlerFactory-rem-Integrated" />
      <remove name="ASPClassic" />
      <remove name="AboMapperCustom-78953" />
      <!--<remove name="PageHandlerFactory-Integrated" />-->
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.htm" />
        <remove value="Default.asp" />
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>